<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Join the Antipodes</h2>
                <hr class="light">
                <p class="text-faded">Fab Antipodes was initiated by delegates from Fab Lab Wgtn and Fab Lab WA, in 2014 at the 10th global Fab conference in Barcelona. We are a growing group of fab labs who provide local knowledge, experience and support to each other and to groups who are starting new labs in the region.We work on projects across fab labs in the region and around the world, connecting and enhancing our individual resources and skills.</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Contact Us</a>
            </div>
        </div>
    </div>
</section>
