<section id="labs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Fab Labs in the Antipodes</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary">
                        <img src="img/fablabwa_logo.jpg" height="80px">
                    </i>
                    <a href="https://fablabwa.org">
                        <h3>Fab Lab WA</h3>
                        <p class="text-muted">Dedicated to inspiring individuals, businesses and communities to create their future - Australia</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">

                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".1s">
                        <img src="img/fablabakld_logo.jpg" height="80px">
                    </i>
                    <a href="https://www.fablabs.io/fablabauckland">
                        <h3>Fab Lab Akld</h3>
                        <p class="text-muted">A planned lab with a focus on sustainable development in Auckland - New Zealand</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".2s">
                        <img src="img/fablabadelaide_logo.jpg" height="80px">
                    </i>
                    <a href="http://fablabadelaide.org.au">
                        <h3>Fab Lab Adelaide</h3>
                        <p class="text-muted">A volunteer run and home to a diverse community of people with a passion for making things - Australia</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".3s">
                        <img src="img/fablabchch_logo.png" height="80px">
                    </i>
                    <a href="http://fablabchch.org.nz">
                        <h3>Fab Lab Chch</h3>
                        <p class="text-muted">A community-based space with a focus on empowering people to become makers and creators - New Zealand</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".4s">
                        <img src="img/fablabwgtn_logo.jpg" height="80px">
                    </i>
                    <a href="http://fablabwgtn.co.nz">
                        <h3>Fab Lab Wgtn</h3>
                        <p class="text-muted">Nurturing resilience through hands-on experimentation and lifelong learning in global open design ecosystems <br/>- New Zealand</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">

                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".5s">
                        <img src="img/fablabmasterton_logo.jpg" height="80px">
                    </i>
                    <a href="http://fablabmasterton.org.nz/">
                        <h3>Fab Lab Masterton</h3>
                        <p class="text-muted">On a mission to equip our whole community with 21st century skills, and make Wairarapa a place where hi-tech people live! - New Zealand</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
            </div>
        </div>
    </div>
</section>
